@font-face {
    font-family: jost;
    src: url("assets/jost.light.otf") format("opentype");
}

:root {
    --color-error: #ea9999;
    --color-success: #b6d7a8;
    --color-warning: #ffe599;
    --color-action: #8395c1;
    --color-abort: #8281A0;
    --color-background: rgb(156, 154, 154);
    --color-content: rgb(255, 255, 255);
}

body {
    font-family: 'jost', sans-serif;
    background-color: var(--color-background);
    margin: 0;
}
div.header {
    background-color: var(--color-content);
    width: 100%;
    margin: 0 0 20px;
    padding: 15px;
    position: fixed;
    top: 0;
}

.homeButton, .actionButton {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 40px;
    width: 200px;
    font-size: 30px;
}

div.homeButton {
    background-color:  #5f5e5e;
    color: #fff;
}

.homeWrapper {
    padding-top: 370px;

    grid-gap: 20px;

    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(auto-fill, 40%);
}
a:link{
    text-decoration: none;
}

.box {
    background-color: #5f5e5e;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    padding: 50px;
    text-align: center;
    height: 250px;
    width: 250px;
    font-size: 25px;

    display: grid;
    place-items: center;
    text-align: center;
}

.contentWrapper {
    padding: 20px;
}

.content {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.messageBox, .messageBoxError, .messageBoxSuccess {
    height: 100px;
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}
.messageBoxError {
     background-color:var(--color-error);
 }
.messageBoxSuccess {
    background-color:var(--color-success);
}
.messageBoxError p, .messageBoxSuccess p{
    font-size: 35px;
}

.content h1{
    font-size: 50px;
}
.content h2{
    font-size: 40px;
}
.content h3{
    font-size: 30px;
}
.content th{
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    text-align: left;
}
.content tr{
    font-size: 25px;
}

.buttonWarning, .buttonAction {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 40px 80px;
    text-decoration: none;
    border: none;
}

.buttonAction {
    background-color:var(--color-action);
}
.buttonWarning{
    background-color:var(--color-warning);
}
input[type=search], input[type=submit], input[type=number], textarea  {
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

input[type=search] {
    width: calc(80% - 5px);
}

input[type=submit] {
    width: 20%;
    cursor: pointer;

}
